@import 'variables';


body{
  background-color: $Dark-Blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $Manrope;

}
.wrapper{
  background-color: $Dark-Grayish-Blue;
  border-radius: 1em;
  width: 45%;
  position: absolute;
  top: 250px;
  @media screen and (max-width:1024px) {
    width: 85%;
  }
}

#id{
  color: $Neon-Green;
  // background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font: {
    weight:bold;
  }
}

#text{
  color: white;
  text-align: center;
  height: auto;
  padding: {
    left: auto;
    right: auto;
  }
  width: 100%;
  font: {
    size: 20px;
    weight: bold;
  }
}

#image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (max-width:1024px) {
    display: none;
  }
}
button{
  background-color: $Neon-Green;
  border-radius: 100em;
  border: 0px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 450px;
  cursor: pointer;
  transition: 0.3s;
  @media screen and (max-width:1024px) {
    bottom: 50%;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 50px $Neon-Green;
  }
}
